# Bentley Registry for publishing
@itwin:registry=https://registry.npmjs.org/
registry=https://registry.npmjs.org/
always-auth=true
#Vite support for all platforms and architectures
supported-architectures.os[]=win32
supported-architectures.os[]=linux
supported-architectures.os[]=darwin
supported-architectures.cpu[]=x64
supported-architectures.cpu[]=arm64